{{#partial "titulo"}}
Cargar Cuentas
{{/partial}}

{{#partial "activoCuentas"}}
active
{{/partial}}
{{#partial "contenido"}}
<h2>Cargar Cuentas </h2>
	
	<form action="/cuentas" method="POST">
	<div class="container" style="width:40%">

		<div class="form-group">
        <label for="nombre" class="sr-only">Ingrese la ruta del archivo</label>
        <input type="file" id="nombre"  class="custom-file-input" name="ruta"  required>
        <span class="custom-file-control"></span>
        <label class="custom-file">
		</div>
		{{#block "alerta"}}{{/block}}
		<div class="container" style="width:30%">
			<input class="btn btn-success" type="submit" value="Cargar">
		</div>
		</div>
		
	</form>

{{/partial}}
{{>mainLayout.hbs}}